[submodule "RecompOne"]
	path = RecompOne
	url = https://github.com/mojomast/RecompOne.git
[submodule "mods"]
	path = mods
	url = https://github.com/BlackLabelHQ/SymphonyRecompMods.git
	branch = main
